Container for the entire dashboard
.dashboard-container {
  display: flex;
}


.main-content {
  flex-grow: 1; 
  margin-left: 10px;
  padding: 20px;
  transition: margin-left 0.3s ease; 
} 

/* Adjust for collapsed sidebar this will help in dynamic adjustment of data.  */
/* .main-content-collapsed {
  margin-left: 80px; 
}

.app-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar-container {
    flex-shrink: 0; 
  }
  
  .main-content {
    flex-grow: 1; 
    padding: 20px; 
    overflow-y: auto;
  }
  */