html, body, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dashboard-container {
  flex-direction: column;
  overflow: auto;
}

/* Ensure the header and sidebar are fixed in position */
.order-details-header-container, .sidebar-container {
  position: fixed;
  top: 0;
}

/* Sidebar */
.sidebar-container:hover {
  overflow-y: auto; /* Allow scrolling */
}

.main-content {
  overflow: auto; /* Allow scrolling */
}